* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(31, 31, 31);
  overflow-x: hidden;
}

body {
  height: 100%;
  font-family: "Poppins 400";
}

h1 {
  font-size: 3em;
}

body,
#todoInput,
#todoInputBtn,
#clearBtn,
.todoCheckBtn,
.todoDeleteBtn {
  background: inherit;
}

body,
h1,
#todoInput,
#todoInputBtn,
.todo,
.todo * {
  font-family: "Poppins 400";
}

#todoInput,
#todoInputBtn,
#clearBtn,
.todoTitle,
.todoCheckBtn,
.todoDeleteBtn {
  border: 2px solid whitesmoke;
}

h1,
#clearBtn,
.todoTitle,
.todoCheckBtn,
.todoDeleteBtn {
  text-align: center;
}

body,
#todoInputBtn,
#clearBtn,
.todo,
.todo * {
  color: whitesmoke;
}

.center {
  margin-top: 5em;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#header {
  box-shadow: 0 8px 6px -6px black;
  z-index: 1000;
  position: fixed;
  top: 0;
}

#header,
#footer {
  width: 100%;
  color: whitesmoke;
  background: rgb(48, 48, 48);
  cursor: default;
}

#footer {
  color: gray;
  font-size: 1.3em;
  height: 2em;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
}

#todoInputContainer {
  justify-content: center;
  display: flex;
  padding: 1.7em 0em;
}

#todoInput {
  font-size: 1em;
  letter-spacing: 0.05em;
  padding: 0em 0.5em;
  width: 20em;
}

#todoInput::placeholder,
#todoInput {
  color: lightgray;
}

#todoInput:focus {
  color: whitesmoke;
  outline: none;
}

#todoInputBtn {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 0.4em;
  padding: 0 0.3em;
}

#todosContainer {
  margin: 1em 0em;
}

#clearBtn {
  font-family: "Poppins 500";
  cursor: pointer;
  font-size: 1em;
  padding: 0.1em 0.5em;
  margin-bottom: 10em;
}

.complete * {
  color: gray;
  border-color: gray;
}

.todo,
.todo * {
  letter-spacing: 0.05em;
  font-size: 1em;
  display: flex;
}

.todo {
  padding: 1em 0em;
}

.todoTitle {
  cursor: default;
  word-break: break-all;
  font-family: "Poppins 500";
  padding: 0.2em 0.8em;
  width: 25em;
  font-size: 1em;
}

.todoCheckBtn {
  margin: 0em 0.3em;
}

.todoCheckBtn,
.todoDeleteBtn {
  cursor: pointer;
  padding: 0em 0.3em;
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  font-size: 1.5em;
}

@media (hover: hover) and (pointer: fine) {
  #clearBtn:hover {
    animation: clearBtnHover forwards 1s;
  }

  #todoInputBtn:hover {
    animation: addBtnHover forwards 1s;
  }

  .todoCheckBtn:hover {
    animation: checkBtnHover forwards 1s;
  }

  .todoDeleteBtn:hover {
    animation: deleteBtnHover forwards 1s;
  }

  @keyframes addBtnHover {
    100% {
      background: rgba(1, 255, 14, 0.25);
    }
  }

  @keyframes clearBtnHover {
    100% {
      background: rgba(255, 0, 0, 0.25);
    }
  }

  @keyframes checkBtnHover {
    100% {
      background: rgba(63, 139, 252, 0.25);
    }
  }

  @keyframes deleteBtnHover {
    100% {
      background: rgba(255, 255, 0, 0.25);
    }
  }
}

@media only screen and (max-width: 640px) {
  #todosContainer {
    transform: translate(10%, 0%);
  }

  .todoTitle {
    padding-top: 2%;
    width: 20em;
    font-size: 0.7em;
  }
}

@font-face {
  font-family: "Poppins 400";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins 700";
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins 500";
  src: url("../fonts/Poppins-Medium.ttf");
}
